<div class="developerinfo">
    <div class="developer cf" ng-model="developers">
        <br>
        <a href="#/details/{{prevItem}}" class="glyphicon glyphicon-chevron-left lg"></a>
        &nbsp
        <a href="#/details/{{nextItem}}" class="glyphicon glyphicon-chevron-right lg"></a>
        <hr>
        <h1>{{developers[whichItem].name}}</h1>
        <div class="info">
            <img ng-src="images/{{developers[whichItem].name}}.jpg" alt="Photo of {{developers[whichItem].name}}" class="img-responsive img-circle" style="margin:0 auto">
            <br>
            <div class="bio">{{developers[whichItem].bio}}</div>
        </div>
    </div>
    <hr>
    <a href="index.html#/list">&laquo; Back to search</a>
</div>