<div class="developerpage">
  <div class=jumbotron>
    <h2>WDI 1920 Hall of Fame</h2>
    <br>
    <form ng-submit="searchTag()" class="form-inline">
      <div class="form-group">
        <input type="text" ng-model="query" class="form-control" placeholder="Search for developers" autofocus>
      </div>
      <input type="submit" value="Search" class="btn btn-default">
    </form>
   
    <div class="search">   
        <label> 
            <br>
            sort by<select class="form-control input-sm" ng-model="developerOrder">
                    <option value="name">Name</option>
                    <option value="bio">Bio</option>
                </select>
        </label>

        <label class="checkbox-inline">
            <input type="radio" ng-model="direction" name="direction" checked>
            ascending
         </label>
        <label class="checkbox-inline">
            <input type="radio" ng-model="direction" name="direction" value="reverse">
            descending
        </label>
        <hr>
    </div>
    </div>
    <div class="developerlist" ng-show="query">
        <div ng-animate="'animate'" class="developer cf" ng-repeat="item in developers | filter: query | orderBy: developerOrder:direction">
            <a href="#/details/{{developers.indexOf(item)}}">
                <img ng-src="images/{{item.name}}.jpg" alt="Photo of {{item.name}}" class="img-responsive img-circle" style="margin:0 auto">
                <div class="info">
                    <h4>{{item.name}}</h4>
                    <p>{{item.bio}}</p>
                    <hr>
                </div>
            </a>
        </div>
    </div>
</div>